.who-we-are {
  max-width: 1020px;
  margin-top: -80px;
  margin-left: auto;
  margin-right: auto;
  background-color: $--neutral-white;
  background-image: url(../img/Gears.svg);
  background-repeat: no-repeat;
  background-position-x: right;
}
.who-we-are__page {
  margin-left: 87px;
}
.who-we-are__title {
  background-image: url(../img/OverlineMark.jpg);
  background-repeat: no-repeat;
  background-position-y: bottom;
  margin-top: 0px;
  margin-bottom: 0px;
  color: $--neutral-gray-1;
  font-size: 12px;
  padding-top: 100px;

  padding-left: 33px;
  font-weight: 700;
  line-height: 2;
  letter-spacing: 2.5px;
  text-transform: uppercase;
}
.who-we-are__subtitle {
  width: 583px;
  padding-top: 33px;
  margin: 0px;
  color: $--car-repair-secondary;
  font-size: 36px;

  font-weight: 900;
  line-height: 1.16;
}
.who-we-are__text {
  width: 846px;
  padding-top: 36px;
  padding-bottom: 54px;
  max-width: 846px;
  margin-left: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.15px;
}

.who-we-are__image {
  margin: 0px 0px -120px 0px;
}
.who-we-are__image img {
  max-width: 100%;
}
