.header__page {
  max-width: 1020px;
  padding: 0px 15px;
  margin-left: auto;
  margin-right: auto;
}

// logo

.logo {
}
.logo__list {
  margin: 0px;
  padding: 0px;
  display: flex;
  padding-top: 39px;
  padding-bottom: 28px;
}
.logo__item {
  color: $--neutral-white;
  display: flex;

  list-style: none;

  font-size: 12px;
  font-weight: 700;
  line-height: 1.83;
  letter-spacing: 0.15px;
}
.logo__item:first-child {
  margin-right: 220px;
}
.logo__item:nth-last-child(1) {
  margin-left: 35px;
}
.logo__item:nth-last-child(2) {
  margin-left: 64px;
}
.button {
  color: $--neutral-white;
  padding: 0px;
  margin: 0px;
  text-align: center;
  background-color: #c40b0b;
  width: 211px;
  height: 40px;

  font-size: 12px;

  font-weight: 700;
  line-height: 2;
  letter-spacing: 0.15px;
  text-transform: uppercase;
}
ul,
li,
p {
  display: block;
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.83;
  letter-spacing: 0.15px;
}
p {
  margin-left: 10px;
}
// nav
.nav {
  display: flex;
  background-color: $--neutral-white;
  color: $--car-repair-secondary;
}
.nav__list {
  display: flex;
  margin: 0px;
}
.nav__item {
  list-style: none;
  margin-left: 37px;
  padding: 15px 0px;
  justify-content: center;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.57;
  letter-spacing: 0.15px;
}
.nav__item:first-child {
  margin-left: 40px;
}

.nav__item:nth-last-child(2) {
  margin-left: 335px;
}
.nav__item:nth-last-child(1) {
  margin-left: 22px;
  margin-right: 48px;
}
.nav__link {
  text-decoration: none;
}
.icon {
  display: flex;
  margin-left: auto;
  margin-right: 42px;
}

// title
.title {
  display: block;
  max-width: 583px;
  color: $--neutral-white;
  margin-top: 126px;
  font-size: 56px;
  font-weight: 900;
  line-height: 1;
}
